<!--  -->

  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold bg-gradient-to-r from-pink-500 via-yellow-400 via-green-500 via-lime-400 to-sky-600 bg-[length:200%_auto] bg-clip-text text-transparent animate-rainbow">
        Aaha Bhojanam
    </h1>
    <div class="flex space-x-6">
      <!-- <a [routerLink]="'order'" class="font-medium cursor-pointer">Order</a>
      <a [routerLink]="'kitchen'" class="font-medium cursor-pointer">Kitchen</a>
      <a [routerLink]="'packing'" class="font-medium cursor-pointer">Packing</a>
      <a [routerLink]="'inventory'" class="font-medium cursor-pointer">Inventory</a>
      <a [routerLink]="'payment'" class="font-medium cursor-pointer">Payment</a> -->
      <a [routerLink]="'admin'" class="font-medium cursor-pointer">Admin</a>
    </div>
  </div>